openapi: 3.0.0
info:
  title: 财报知识库API
  version: 1.0.0
  description: 财报文档管理与检索系统API

servers:
  - url: https://api.financial-knowledge.com/v1
    description: 生产环境

paths:

  /knowledge-bases:
    post:
      summary: 创建空知识库
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 知识库名称
                description:
                  type: string
                  description: 知识库描述
      responses:
        '201':
          description: 知识库创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 知识库ID
                  name:
                    type: string
                  created_at:
                    type: string
                    format: date-time

    get:
      summary: 知识库列表
      responses:
        '200':
          description: 成功获取知识库列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KnowledgeBase'

  /knowledge-bases/{kb_id}:
    delete:
      summary: 删除知识库
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 知识库删除成功

  # ========================
  # 文档管理
  # ========================
  /knowledge-bases/{kb_id}/documents:
    post:
      summary: 创建文档（文本或文件）
      description: |
        通过文本或文件创建文档
        - 文本方式：使用text字段
        - 文件方式：使用file字段（multipart/form-data）
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: 文档文本内容（与file二选一）
                file:
                  type: string
                  format: binary
                  description: 文档文件（PDF/DOCX等）
                metadata:
                  type: object
                  description: 文档元数据（KV字典）
                  additionalProperties: true
      responses:
        '202':
          description: 文档创建已接受
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    type: string
                  processing_id:
                    type: string
                    description: 用于查询处理状态的ID

    get:
      summary: 知识库文档列表
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功获取文档列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentMetadata'

  /knowledge-bases/{kb_id}/documents/{doc_id}:
    put:
      summary: 更新文档（文本或文件）
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUpdateInput'
      responses:
        '202':
          description: 文档更新已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingStatus'

    delete:
      summary: 删除文档
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 文档删除成功

  /knowledge-bases/{kb_id}/documents/{doc_id}/embedding-status:
    get:
      summary: 获取文档嵌入状态（进度）
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 嵌入状态信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingStatus'

  # ========================
  # 文档分段管理
  # ========================
  /knowledge-bases/{kb_id}/documents/{doc_id}/segments:
    post:
      summary: 新增分段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  required: true
                page:
                  type: integer
                  description: 所在页码
                start_line:
                  type: integer
                  description: 起始行号
                end_line:
                  type: integer
                  description: 结束行号
                metadata:
                  type: object
                  description: 分段元数据
      responses:
        '201':
          description: 分段创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  segment_id:
                    type: string

    get:
      summary: 查询文档分段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 分段列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentSegment'

  /knowledge-bases/{kb_id}/documents/{doc_id}/segments/{segment_id}:
    put:
      summary: 更新文档分段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
        - name: segment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                metadata:
                  type: object
      responses:
        '200':
          description: 分段更新成功

    delete:
      summary: 删除文档分段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
        - name: segment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 分段删除成功

  # ========================
  # 元数据管理
  # ========================
  /knowledge-bases/{kb_id}/metadata:
    post:
      summary: 新增知识库元数据字段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                field_name:
                  type: string
                  required: true
                field_type:
                  type: string
                  enum: [string, number, date, boolean]
                  required: true
                is_required:
                  type: boolean
                  default: false
      responses:
        '201':
          description: 字段创建成功

    get:
      summary: 知识库的元数据字段列表
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 元数据字段列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataField'

  /knowledge-bases/{kb_id}/metadata/{field_id}:
    put:
      summary: 更新知识库元数据字段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: field_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                field_name:
                  type: string
                field_type:
                  type: string
                  enum: [string, number, date, boolean]
                is_required:
                  type: boolean
      responses:
        '200':
          description: 字段更新成功

    delete:
      summary: 删除知识库元数据字段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: field_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 字段删除成功

  /knowledge-bases/{kb_id}/metadata/{field_id}/status:
    put:
      summary: 启用/禁用知识库元数据中的内置字段
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: field_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  required: true
      responses:
        '200':
          description: 状态更新成功

  /knowledge-bases/{kb_id}/documents/{doc_id}/metadata:
    put:
      summary: 修改文档的元数据（赋值）
      parameters:
        - name: kb_id
          in: path
          required: true
          schema:
            type: string
        - name: doc_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 元数据键值对
      responses:
        '200':
          description: 元数据更新成功

components:
  schemas:
    KnowledgeBase:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
        document_count:
          type: integer

    DocumentMetadata:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [processing, embedded, failed]
        created_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    DocumentSegment:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        page:
          type: integer
        start_line:
          type: integer
        end_line:
          type: integer
        created_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    EmbeddingStatus:
      type: object
      properties:
        status:
          type: string
          enum: [queued, processing, completed, failed]
        progress:
          type: integer
          description: 处理进度百分比
        segments_embedded:
          type: integer
        total_segments:
          type: integer

    MetadataField:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        is_required:
          type: boolean
        is_builtin:
          type: boolean
        enabled:
          type: boolean

    ProcessingStatus:
      type: object
      properties:
        processing_id:
          type: string
        status_url:
          type: string
          format: uri
          description: 状态查询URL

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: string